<!DOCTYPE html>
<html>
<head>
    <title>Profiilikuvan päivitys</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    {% include 'header.html' %}
    <div class="page">
    {% if error %}
    <div class="error">
        <strong>VIRHE:</strong> {{ error }}
    </div>
    {% endif %}

    <form action="/add_profile_picture" method="post" enctype="multipart/form-data">
        <p>
            <label for="image">Kuva:</label> <input type="file" id="image" name="image" accept=".jpg" />
        </p>
        <input type="submit" value="Lähetä" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
    </div>
</body>
</html>