<!DOCTYPE html>
<html>
<head>
  <title>Muokkaa julkaisua</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  {% include 'header.html' %}
  <form action="/edit/{{ post.id }}" method="post">
  <p>
    Otsikko:<br />
    <input type="text" name="title" value="{{ post.title }}" />
  </p>
  <p>
    Sisältö:<br />
    <textarea name="content" rows="5" cols="40">{{ post.content }}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
  </form>
</body>
</html>