<!DOCTYPE html>
<html>

<head>
  <title>Investor Club</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  {% include 'header.html' %}
  <h1>Analyysit</h1>
  {% for post in post_list %}
  <p>
    <a href='/post/{{ post.id }}'>{{post.title}}</a> | <a href='/profile/{{post.user_id}}'>{{post.username}}</a> | {{post.sent_at}} | {{post.market}} | {{post.industry}} | {{post.strategy}}
    <br />
  </p>
  <hr />
  {% endfor %}
  {% if session.username %}

 {% endif %}

</body>

</html>
