<!DOCTYPE html>
<html>

<head>
  <title>Investor Club</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  {% include 'header.html' %}
  <h1>Analyysit</h1>
  {% for post in post_list %}
  <p>
    <a href='/post/{{ post.id }}'>{{post.title}}</a> | {{post.username}} | {{post.sent_at}}
    <br />
  </p>
  <hr />
  {% endfor %}
  {% if session.username %}
  <h1>Uusi analyysi</h1>

  <form action='/new_post' method='post'>
    <p>
      Otsikko: <br />
      <input type="text" name="title" required maxlength="100"/>
    </p>
    <p>
      Viesti: <br />
      <textarea name="content" rows="5" cols="40" required maxlength="5000"></textarea>
    </p>
    <input type="submit" value="Lähetä" />
    </p>
  </form>
 {% endif %}

</body>

</html>
