<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  {% include 'header.html' %}

  <h1>Kirjautuminen</h1>

  {% if error %}
  <div style="color: red; border: 1px solid red; padding: 10px; margin: 10px 0; background-color: #ffe6e6;">
    <strong>VIRHE:</strong> {{ error }}
  </div>
  {% endif %}

  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="submit" value="Kirjaudu" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>

  <p>
    Eikö sinulla ole tunnusta? 
    <a href="/register"><button>Luo uusi käyttäjä</button></a>
  </p>
</body>

</html>
