<!DOCTYPE html>
<html>

<head>
  <title>Julkaisu</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  {% include 'header.html' %}
  <h1>{{ post.title }}</h1>
  <h3>{{ post.recommendation }}</h3>
  <h3>{{ post.likes }} tykkäystä</h3>
  <h3>
      <form action="/post/{{post.id}}/toggle-like" method="post">
        {% if liked %}
        <button>Poista tykkäys</button>
        {% else %}
        <button>Tykkää</button>
        {% endif %}
  </form>
  </h3>

  julkaissut <b><a href="/profile/{{ post.user_id }}">{{post.username}}</a></b> | {{ post.sent_at }}

  {%if post.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ post.id }}">Muokkaa</a> |
    <a href="/remove/{{ post.id }}">Poista</a>
  </p>
  {% endif %}
    <hr>
  <p>
    <i>{{post.market}}</i> | <i>{{post.industry}}</i> | <i>{{post.strategy}}</i>
  </p>
  <p>
    {{ post.content }}
  </p>
</body>
</html>