<!DOCTYPE html>
<html>

<head>
  <title>Julkaisu</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  {% include 'header.html' %}
  <h1>{{ post[0].title }}</h1>
  julkaissut <b>{{post[0].username}}</b> | {{post[0].sent_at}}

  {%if post[0].user_id == session.user_id %}
  <p>
    <a href="/edit/{{ post[0].id }}">Muokkaa</a> |
    <a href="/remove/{{ post[0].id }}">Poista</a>
  </p>
  {% endif %}
    <hr>
  <p>
    {{ post[0].content}}
  </p>
</body>
</html>