<!DOCTYPE html>
<html>

<head>
    <title>Profiili</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    {% include 'header.html' %}
    <div class="page">
    <h1>{{ profile.username }}</h1>

    {% if profile.has_image %}
    <img src="/pfp/{{profile.id}}" width="200" height="200"/>
    {% endif %}

    {%if profile.id == session.user_id %}
    {% if profile.has_image %}
    <p>
        <h3><a href="/add_profile_picture">Muokkaa profiilikuvaa</a></h3>
        <form action="/delete_profile_picture" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <button type="submit">Poista profiilikuva</button>
        </form>
    </p>
    {% else %}
    <p>
        <h3><a href="/add_profile_picture">Lisää profiilikuva</a></h3>
    </p>
    {% endif %}

    {% endif %}


    <p>
        Käyttäjä luotu {{ profile.created_at }} ({{ profile.ago }} päivää sitten)
    </p>
    <p>
        Käyttäjä lähettänyt {{ posts | count }} julkaisua
    </p>

    {% if posts %}
    <p>
        Ensimmäinen julkaisu lähetetty {{posts[-1].sent_at}}
    </p>
    <p>
        Viimeisin julkaisu lähetetty {{posts[0].sent_at}}
    </p>
    {% endif %}
    <p>
        {% if likes.likes == 1 %}
            {{likes.likes }} tykkäys
        {% else %}
            {{likes.likes }} tykkäystä
        {% endif %}
    </p>
    <h3>Suositusten jakauma</h3>
    Osta: {{recommendations.buys }}
    Myy: {{recommendations.sells}}
    Pidä: {{recommendations.holds}}
    <h3>Käyttäjän julkaisut</h3>
    <ul>
        {% for post in posts %}
        <li>
            <a href="/post/{{post.id}}">
                {{ post.title }}
            </a>
            <br />
            ({{ post.sent_at }})
        </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>