<!DOCTYPE html>
<html>

<head>
  <title>Profiili</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  {% include 'header.html' %}
  <h1>{{ profile.username }}</h1>

  {%if profile.id == session.user_id %}
  {% if profile.has_image %}
  <img src="/pfp/{{profile.id}}" width="200" height="200"/>
  <p>
  <h3><a href="/add_profile_picture">Muokkaa profiilikuvaa</a> | 
  <a href="/delete_profile_picture">Poista profiilikuva</a></h3>
  </p>
  {% else %}
  <p>
    <h3><a href="/add_profile_picture">Lisää profiilikuva</a></h3>
  </p>
  {% endif %}
  
  {% endif %}


  <p>
    Käyttäjä luotu {{ profile.created_at }} ({{ profile.ago[9:11]|int }} päivää sitten)
  </p>
  <p>
    Käyttäjä lähettänyt {{ posts | count }} julkaisua
  </p>

  {% if posts %}
  <p>
    Ensimmäinen julkaisu lähetetty {{posts[-1].sent_at}}
  </p>
    <p>
    Viimeisin julkaisu lähetetty {{posts[0].sent_at}}
  </p>
  {% endif %}
  <h3>Suositusten jakauma</h3>
  Osta: {{recommendations.buys}}
  Myy: {{recommendations.sells}}
  Pidä: {{recommendations.holds}}
  <h3>Käyttäjän julkaisut</h3>
  <ul>
  {% for post in posts %}
    <li>
      <a href="/post/{{post.id}}">
        {{ post.title }}
      </a>
      <br />
      ({{ post.sent_at }})
    </li>
  {% endfor %}
  </ul>
</body>
</html>