<!DOCTYPE html>
<html>

<head>
  <title>Profiili</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  {% include 'header.html' %}
  <h1>{{ profile.username }}</h1>
  <p>
    Käyttäjä luotu {{ profile.created_at }} ({{ profile.ago[9:11]|int }} päivää sitten)
  </p>
  <p>
    Käyttäjä lähettänyt {{ posts | count }} viestiä
  </p>

  {% if posts %}
  <p>
    Ensimmäinen viesti lähetetty {{posts[-1].sent_at}}
  </p>
    <p>
    Viimeisin viesti lähetetty {{posts[0].sent_at}}
  </p>
  {% endif %}

  <ul>
  {% for post in posts %}
    <li>
      <a href="/post/{{post.id}}">
        {{ post.title }}
      </a>
      <br />
      ({{ post.sent_at }})
    </li>
  {% endfor %}
  </ul>
</body>
</html>