<!DOCTYPE html>
<html>

<head>
    <title>Käyttäjätunnuksen rekisteröinti</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    {% include 'header.html' %}
    <div class="page">
    <h1>Luo uusi käyttäjä</h1>

    {% if error %}
    <div class ="error">
        <strong>VIRHE:</strong> {{ error }}
    </div>
    {% endif %}

    {% if success %}
    <div class="success">
        <strong>Onnistui:</strong> {{ success }}
    </div>
    <p>
        <a href="/login"><button>Siirry kirjautumiseen</button></a>
    </p>
    {% else %}
    <form action="/create" method="post">
        <p>
            <label for="username">Tunnus:</label> <br />
            <input type="text" id="username" name="username" required/>
        </p>
        <p>
            <label for="password1">Salasana:</label> <br />
            <input type="password" id="password1" name="password1" required/>
        </p>
        <p>
            <label for="password2">Salasana uudestaan:</label> <br />
            <input type="password" id="password2" name="password2" required/>
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Luo tunnus" />
    </form>
    {% endif %}
    </div>
</body>

</html>