<!DOCTYPE html>
<html>
<head>
  <title>Poista julkaisu</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  {% include 'header.html' %}
  <div class="page">
  <form action="/remove/{{ post.id }}" method="post">
    <p>
      Haluatko varmasti poistaa julkaisun?
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="continue" value="Jatka" />
    <input type="submit" name="cancel" value="Peruuta" />
  </form>
  </div>
</body>
</html>